<div class="main">
   <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center text-center">
         <div class="col-lg-7 text-clr">
            <i class='fa fa-frown-o fa-5x'></i>
            <h1 class="col-lg-12 display-2 p-4"><b>Page NOT Found</b></h1>
            <h5 class="col-lg-12 p-2">404. That’s an error. The requested URL was not found on this server. That’s all we know.</h5>
            <a routerLink="/" class="btn btn-bg">Gmail</a>
         </div>
      </div>
   </div>
</div>